[2018-01-14 00:11] juanpicado opened #39 "Create storage plugin for Firebase Storage"
https://firebase.google.com/docs/storage/web/start

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-01-14 00:14] juanpicado opened #38 "Create storage plugin for CouchDB"
https://www.npmjs.com/package/nano

Exist an old implementation here: https://github.com/verdaccio/verdaccio/tree/storage_pluggable

Example:

https://github.com/verdaccio/verdaccio-memory
https://github.com/verdaccio/local-storage

[2018-08-02 22:02] bufferoverflow opened #44 "Local caching of vulnerabilities"
Node security wg is planning to create a dedicated repo for the known vulnerabilities, see
https://github.com/nodejs/security-wg/issues/359#issuecomment-410079404

Using that sources instead of redirecting to upstream npm could be a nice option for verdaccio-audit.

[2018-08-04 20:18] sergiohgz opened #2 "Add @verdaccio/babel-preset"
Create a package that contains a common Babel config for every Verdaccio project.

The syntax to include this _preset_ in `.babelrc` files is:
[code]

We should allow users to customize the _preset_ settings by enabling and disabling with some `options`. One example is activating React _preset_ (for React projects) with:
[code]

One thing I want to discuss is if the _package_ should be __self-cont

[2018-08-04 21:16] sergiohgz opened #3 "Add @verdaccio/eslint-config"
Create a package that contains a common Eslint (and Prettier) config for every Verdaccio project.

The syntax to include this _config_ in `.eslintrc` files is:
[code]

We should allow users to customize the imported configs by enabling or disabling them with some `options`. This includes a different approach to `@verdaccio/babel-preset-core` because here we can add or remove Eslint rules directly.

[2018-08-06 05:15] juanpicado opened #13 "Multi-packages repository"
# Vision of this repository

This repository aims to help us to reduce the maintenance cost we are paying for having a modularity approach, furthermore, we are aware we can do more in terms of modularity to achieve a more complete plugin system at Verdaccio 5.

Plugin ecosystem is important at Verdaccio, it creates a variety of alternatives and we want to help the developers to achieve the goal to

[2018-08-30 05:16] juanpicado commented on #2
Babel 7 is out
https://twitter.com/github/status/1034867850052157440

[2018-09-24 06:36] juanpicado opened #5 "Add core packages"
Roadmap to integrate core packages

### Stage 1
- [x] eslint-config `@verdaccio/eslint-config`
- [ ] babel-preset `@verdaccio/babel-preset`

### Stage 2
- [x] streams `@verdaccio/streams`
- [x] file-lock `@verdaccio/file-lock`
- [x] types `@verdaccio/types`
- [ ] http-error `@verdaccio/http-error`

### Stage 3

- [ ] local-storage `@verdaccio/local-storage`
- [ ] htpasswd-auth `@verdaccio/htpasswd

[2018-10-02 07:59] sergiohgz commented on #5
Hi @juanpicado, are you still working on this?

I think we have to talk about how to migrate repositories to monorepo and ensure we can make a complete flow before deprecating the old repositories.

[2018-10-04 20:25] sergiohgz opened #8 "Improve @verdaccio/eslint-config"
Improve our Eslint config after adding some projects to this monorepo, as it is difficult to create a common settings if we don't use it.

[2018-10-05 16:29] juanpicado commented on #8
We can implement it on 2 projects. lock-file, streams.

[2018-10-05 16:30] juanpicado commented on #8
If all goes well, next httpassw and local-storage. Last step, verdaccio itself. Wdth?

[2018-10-05 17:32] juanpicado commented on #8
@sergiohgz how we publish to npm this?

[2018-10-05 22:03] sergiohgz commented on #8
@juanpicado I'm going to create the roadmap of the project in order to advance this weekend.

I think we should create a basic babel-preset (this is more difficult as I have to review changes in Babel 7) and publish a pre-release of them (v4.0.0-alpha.0?).
If the first 2 projects you mention are stable and we won't develop too much in them for the meanwhile, we can start using the new packages and

[2018-10-05 22:12] sergiohgz opened #9 "Use babel-preset and eslint-config in some example projects"
After first publish of **@verdaccio/babel-preset** and **@verdaccio/eslint-config** we should use in two projects to look how we should improve them and test how we feel with monorepo.

The pacakges proposed are the described in #8 by @juanpicado:
- [ ] lock-file
- [ ] streams

After that, we can follow with
- [ ] htpasswd
- [ ] local-storage

[2018-10-05 22:16] sergiohgz opened #10 "Review CircleCI config for the first publish"
We should review if the current CircleCI config is adapted for the first publish of the monorepo.

Take care of next information:
1. Have a specific step for releasing with publish script.
2. When we execute the publish script, it must contains the `--yes` flag required by `lerna publish` script in CI

[2018-10-06 06:12] juanpicado commented on #8
I'll vote to move Babel 7 and then try to use it on the 2 first projects. Those have an easier Babel setup.

Before running the first publish I need to review CircleCI config file because I want to add some steps and see if the line where we execute publish has the --yes flag to not break build.

:) This would be a good chance to test Verdaccio as E2E tool in our own packages. What do you think?

[2018-10-06 06:19] juanpicado commented on #9
btw, keep on mind we might use Typescript in some packages if we create this preset with Babel 7.

[2018-10-06 07:08] juanpicado opened #11 "Add @verdaccio/http-error"
We need a package to centralize the error handling to be able to share with all plugins.

`ErrorCode`
https://github.com/verdaccio/verdaccio/blob/master/src/lib/utils.js#L392
`API_ERROR` this might either part of '@verdaccio/http-error'; or `'@verdaccio/constants';`
https://github.com/verdaccio/verdaccio/blob/master/src/lib/constants.js#L68

Eg: On `verdaccio-htpasswd` we have the following

[code

[2018-10-06 15:01] sergiohgz commented on #3
Closed by #7

[2018-10-06 15:01] #3 closed

[2018-12-08 09:28] juanpicado opened #58 "Feature to fetch all npm packages"
#### My reason:
I want to retrieve all packages from storage.

Refers to: https://github.com/verdaccio/verdaccio/issues/706

[2019-01-01 07:16] jhett12321 opened #45 "Packages not listed under /-/all endpoint"
They appear normally in the Web UI, but don't exist when using this endpoint (example.com/-/all).

[2019-06-09 09:36] juanpicado opened #32 "feat: use readable-stream 3"
I want to use this instead native streams. For `core/streams`

https://www.nearform.com/blog/welcome-readable-stream-3/

The idea is export ReadTarball and WriteTarball streams which are extended from PassThrough.

At Verdaccio we use directly the stream library, but I have the intention to force any plugin to use this library so we can use stream pipeline across all the ecosystem.

I want to add

[2019-06-21 21:14] juanpicado commented on #13
@DanielRuf @sergiohgz I updated the description above, I think is the time to work on this, hopefully, we can get some help here.  Waiting for your thoughts about this.

[2019-06-22 10:12] juanpicado opened #46 "clean up eslint warnings"
Currently we don't comply with the current `eslint` rules we are encouraging for all organization projects. We need to clean this up.

[code]

plugin: **google-cloud**

[2019-06-22 22:12] sergiohgz commented on #13
@juanpicado I have just tested Yarn Workspaces + Lerna and they are awesome. I want to make a few PoC more to have better cover over the problem we are trying to resolve

[2019-07-12 12:25] juanpicado opened #60 "fs.exists is deprecated"
#### My reason:

We use `fs.exists` at least twice in our source code, this has been deprecated, we should upgrade it.

https://nodejs.org/api/fs.html#fs_fs_exists_path_callback

[2019-07-17 14:23] sergiohgz commented on #13
@juanpicado I have just marked as completed the first three task as we have defined the stack, recreate the project with our latest tests of the stack and tried the deploy cycle in a PoC.

I want to start adding some packages like eslint-config and eslint-plugin, as they haven't much activity and deprecate the current. What do you think about starting with it?

[2019-07-17 21:24] sergiohgz commented on #5
I'm closing this as we have updated information in #13

[2019-07-17 21:24] #5 closed

[2019-07-17 21:26] sergiohgz commented on #2
I close this issue because we have this [Babel Preset](https://github.com/verdaccio/babel-preset) we will migrate here

[2019-07-17 21:26] #2 closed

[2019-07-17 21:28] sergiohgz commented on #8
We have no need to improve right now as the old package was removed and substituted with a new one that is really great and used in all the projects, so we close this :smiley:

[2019-07-17 21:28] #8 closed

[2019-07-17 21:28] sergiohgz commented on #10
Resolved via #19

[2019-07-17 21:28] #10 closed

[2019-07-17 21:29] sergiohgz commented on #9
Both projects are used when they were developed outside the monorepo, so we do not need to keep this open

[2019-07-17 21:29] #9 closed

[2019-07-18 11:04] sergiohgz opened #22 "Add tools packages"
From #13, I would like to separate in different tasks the import of packages. I think the best separation is by the type of packages.

The purpose of this issue is track the import of tool packages, composed by:

- [x] @verdaccio/eslint-config from [verdaccio/eslint-config-verdaccio](https://github.com/verdaccio/eslint-config-verdaccio)
- [x] eslint-plugin-verdaccio from [verdaccio/eslint-plugin-v

[2019-07-18 11:10] sergiohgz opened #23 "Add core packages"
From #13, I would like to separate in different tasks the import of packages. I think the best separation is by the type of packages.

The purpose of this issue is track the import of core packages, composed by:

- [x] @verdaccio/types from [verdaccio/flow-types](https://github.com/verdaccio/flow-types)
- [x] @verdaccio/file-locking from [verdaccio/file-locking](https://github.com/verdaccio/file-l

[2019-07-18 11:14] sergiohgz opened #24 "Add plugin packages"
From #13, I would like to separate in different tasks the import of packages. I think the best separation is by the type of packages.

The purpose of this issue is track the import of plugin packages, composed by:

- [x]  @verdaccio/local-storage from [@verdaccio/local-storage](https://github.com/verdaccio/local-storage)
- [x] verdaccio-htpasswd from [verdaccio-htpasswd](https://github.com/verdacc

[2019-07-18 11:17] juanpicado commented on #23
https://github.com/verdaccio/commons-api

[2019-07-18 12:16] #22 closed

[2019-07-24 22:07] sergiohgz commented on #23
@juanpicado we need to move issues from others repositories here, like [this issue](https://github.com/verdaccio/streams/issues/36), to don't forget there :wink:

[2019-07-24 22:16] juanpicado commented on #23
Sure, I archived those do not have any ticket.

[2019-07-24 22:23] juanpicado opened #33 "Allow other password encryptions"
#### My reason:

Currently, we support verify on multiple formats but we do not on the sign the password, we shoud allow this plugin to sign with something different than `CRYPT`

https://httpd.apache.org/docs/2.4/misc/password_encryptions.html

#### Additional information:

[2019-07-25 07:18] juanpicado commented on #24
From this list, I'd suggest skip, Google and Local Storage, aside of that, all are candidates for migration.

[2019-07-25 16:57] JayaKrishnaNamburu commented on #13
Hey, @juanpicado we adopted Lerna for monorepo structure and it turned out great. Happy to help if anything is needed. (https://github.com/teleporthq/teleport-code-generators)

[2019-07-26 08:22] #23 closed

[2019-07-26 08:58] juanpicado commented on #13
I love that changelog @JayaKrishnaNamburu :-) specifically the part of committers.  About help I guess @sergiohgz can drive you with that. Perhaps we can write small guide about how we are importing the projects.

[2019-07-27 14:08] sergiohgz opened #36 "Refactor CONTRIBUTING"
We need to explain better how to contribute to the project, a good guidelines about which commands contributors will need and the purpose, how to work with Lerna and packages (alltogether or separately), how to create and add new packages, how to flat devDependencies and how we manage dependencies.

Also, we think this project is a good point to start trying the new VSCode feature called [Remote D

[2019-07-28 10:07] juanpicado commented on #36
I am quite interested in the latest one 🙃

[2019-07-29 08:08] juanpicado opened #40 "@verdaccio/eslint-config@2.0.0 miss devDependencies"
**Describe the bug**
Using it make fails the build.

I tried to update `verdaccio-audit` and prettier is not being found.

**Expected behavior**
Dependencies should be included in any project as devDependencies.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[code]

[2019-07-30 22:24] griffithtp commented on #24
will continue with the above list once htpasswd is merge and use as an inspiration ✨

[2019-07-30 22:25] sergiohgz commented on #24
Take a look at discord, as you are the master of plugins importation :wink:

[2019-07-31 10:09] sergiohgz commented on #24
@griffithtp @juanpicado I'm going to start with _verdaccio-memory_ import

[2019-07-31 14:03] sergiohgz commented on #40
Sorry, I forgot to add the breaking change of ESLint and Prettier in @verdaccio/eslint-config@2.0.0. Both packages were removed from dependencies to allow users use the version they like (moved to peerDependencies).

Closed #40 via 905b578

[2019-07-31 14:03] #40 closed

[2019-07-31 14:47] juanpicado commented on #24
I will take care of the Google Plugin.

[2019-07-31 19:45] sergiohgz commented on #24
I've just migrated verdaccio-auth-memory plugin, and I want to continue with verdaccio-audit if you doesn't mind @juanpicado @griffithtp

[2019-08-01 04:59] SkeLLLa opened #47 "Unpublish fails with 422 error."
When unpublishing scoped package it fails with 422 error.
[code]

Probably the root cause is somewhere here https://github.com/verdaccio/verdaccio-google-cloud/blob/d0396d663504d18fd71879303bcf56bc4b438fc0/src/data-storage.ts#L108

Verdaccio version 4.0.4

plugin: **google-cloud**

[2019-08-01 05:01] juanpicado commented on #24
@sergiohgz @griffithtp google cloud plugin is ready for migration, I already merged all of it.

[2019-08-01 09:33] sergiohgz commented on #46
This issue apply for several packages in the monorepo. We have to unify some settings and rules in the main eslint-config pacakge.

Also, if we run `eslint --print-config index.js | eslint-config-prettier-check` in `tools/eslint-config`, we will get some conflicting rules we need to resolve in the unification, as all projects has that settings set

[2019-08-01 09:44] sergiohgz commented on #46
I can do this for the packages that have been imported and take care of future packages

[2019-08-03 07:28] griffithtp commented on #24
I will get cracking on aws and gcp :)

[2019-08-05 03:44] juanpicado commented on #24
Local storage is almost ready, we just need to finish https://github.com/verdaccio/local-storage/pull/168 and we can move it here.

[2019-08-05 04:55] juanpicado commented on #11
This is done, it is included in `core/commons-api`

[2019-08-05 04:55] #11 closed

[2019-08-09 08:54] sergiohgz opened #55 "Add coverage support"
You can advice that we are adding coverage scripts with codecov but ignoring them on CI. This is because there are some ways to manage Coverage in monorepos and we haven't taken care about it until we had completed some initial steps.
We are going to use [Codecov](https://codecov.io) to complete this, as it has a great [support for monorepos](https://docs.codecov.io/docs/flags)

[2019-08-13 05:26] juanpicado commented on #24
@griffithtp @sergiohgz  https://github.com/verdaccio/local-storage can be moved already.

[2019-08-13 05:33] juanpicado commented on #24
Candidates to migrate https://github.com/verdaccio/verdaccio-activedirectory this to babel, eslint etc etc ? @verdaccio/collaborators and then move it here?

[2019-08-13 11:39] sergiohgz commented on #24
@juanpicado We can migrate activedirectory here and then refactor with new tools (ts, babel, eslint, etc).

I'm going to start with local-storage :smiley:

[2019-08-15 18:00] juanpicado commented on #24
`verdaccio-activedirectory` is ready for migration 👍

[2019-08-15 20:16] omaskery opened #59 "check storage path is plausible on startup"
## Feature request
On start-up, with the default storage backend, Verdaccio should check that the configured storage folder exists and emit a warning/error log message if it is absent.

I understand that this may not apply to all storage mechanisms, but it could likely be done for the default storage mechanism used by the published docker containers.

## Observed behaviour
If Verdaccio is run with

[2019-08-15 21:03] sergiohgz commented on #24
@juanpicado great, I will start right now to have it before go to sleep :stuck_out_tongue_winking_eye:

[2019-08-16 10:11] sergiohgz opened #62 "eslint-plugin-verdaccio - refactor project"
**Is your feature request related to a problem? Please describe.**
The plugin is focused on create new JSX rules. With this purpose, the plugin is only required by [@verdaccio/ui-theme](https://github.com/verdaccio/ui), so it should not be provided by [@verdaccio/eslint-config](https://github.com/verdaccio/monorepo/tree/master/tools/eslint-config) and the project could be linted with our common co

[2019-08-16 18:08] sergiohgz commented on #62
Closed via #63

[2019-08-16 18:08] #62 closed

[2019-08-17 11:17] sergiohgz opened #65 "active-directory - Follow up types update"
I created a PR to [DefinetlyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/37702) to add the types needed to remove `// @ts-ignore`, following the definition shown in [activedirectory2](https://github.com/jsumners/node-activedirectory#documentation) documentation.

_Originally posted by @sergiohgz in https://github.com/verdaccio/monorepo/pull/64#issuecomment-522228359_

[2019-08-17 13:03] sergiohgz commented on #36
I marked as completed everything that is done in #51. If something have been forgotten, remember it and I'll add ASAP

[2019-08-17 13:05] sergiohgz commented on #24
All the plugins are imported, so I'm going to close this issue

[2019-08-17 13:05] #24 closed

[2019-08-17 16:50] juanpicado commented on #24
Wow !! This process was fast 🚀🚀🚀🚀

[2019-08-18 20:08] sergiohgz commented on #55
Closed via 7d5051a8a0dfd45fb4eea8c37e793f660c5febe7

[2019-08-18 20:08] #55 closed

[2019-08-19 20:59] sergiohgz commented on #36
Closed via #51

[2019-08-19 20:59] #36 closed

[2019-08-21 14:16] carlonoelle opened #75 "GCP-Bucket Plugin not found"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- npm install -g verdaccio verdaccio-google-cloud

**Expected behavior**
GCP Storage Bucket as Storage

**Configuration File **
[code]

**Debugging output**
 - `$ NODE_DEBUG=request verdaccio` display request calls (verdaccio <--> uplinks)
[code]

 - `$ DEBUG=express:* verdac

[2019-08-21 15:24] sergiohgz commented on #75
If you perform `npm config get prefix`, is it pointing to `~/.npm-global`?

I've just tried you config setting prefix to that (npm will create `bin/` and `lib/` directories inside) and it loads correctly. Ensure that is installed with a simple `ls`.

[code]

[2019-08-22 08:00] carlonoelle commented on #75
Hey @sergiohgz, thanks for the reply.

Here is the printout, everything seem to be correct:
[code]

[2019-08-22 08:01] carlonoelle commented on #75
I`m on Ubuntu 19 and installed NodeJS v12 with nvm.

[2019-08-22 09:25] carlonoelle commented on #75
I think i will just leave it like this. Since my VM is on GCP i can also just scale the boot drive. I can get it working locally on macOS but not on my linux vm but i will look into that another time. Thanks for the help

[2019-08-22 09:25] #75 closed

[2019-08-22 10:20] sergiohgz commented on #75
@carlonoelle I've just tested the problem and I found what is happening.

On `verdaccio-google-cloud@0.0.10` (tag `latest` in npmjs), the package publish typescript files instead of javascript files, so they are not understood by Verdaccio and cannot find the plugin.
After importing here, we fix the build, compiling files and deploying javascript files correctly. You can install it using `npm i -g

[2019-08-22 10:54] carlonoelle commented on #75
@sergiohgz Ok thank you its working! Just one question, why is the plugin using gcp cloud datastore as the storage solution and not the way cheaper gcp storage buckets? Is there a simply reason to this or?

[2019-08-22 11:11] sergiohgz commented on #75
Perfect @carlonoelle. I'm learning Verdaccio plugin development right now and I don't know why we are using some libs on some plugins. @juanpicado could throw some light over this. But if there is improvements or better solutions, contributions are welcome :wink:

[2019-08-22 16:24] greenkeeper[bot] opened #78 "An in-range update of @types/activedirectory2 is breaking the build 🚨"
## The devDependency [@types/activedirectory2](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `1.2.0` to `1.2.1`.

🚨 [View failing branch](https://github.com/verdaccio/monorepo/compare/master...verdaccio:greenkeeper%2Fplugins%2F%40types%2Factivedirectory2-1.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build f

[2019-08-22 22:47] sergiohgz commented on #78
Closed via 044fe436

[2019-08-22 22:47] #78 closed

[2019-08-22 22:47] sergiohgz commented on #65
Closed via 044fe436

[2019-08-22 22:47] #65 closed

[2019-08-29 08:36] wkurniawan07 opened #95 "aws-s3-storage: Removing a package will remove other packages whose prefix matches"
**Describe the bug**

When unpublishing an entire package, another package with the same prefix will also be unpublished. For example, `npm unpublish abcd --force` will also unpublish `abcdef`.

**To Reproduce**

[code]

**Expected behavior**

Only package `abcd` is unpublished and nothing else.

**Actual behavior**

Packages `abcd` and `abcdef` are both unpublished.

**Additional context**

I def

[2019-09-01 21:05] sergiohgz commented on #13
I think that we can close this issue. The monorepo is quite stable, with 16 packages aprox, bots for common maintenance, coverage and security control, CI in Linux, Mac and Windows using CircleCI, Azure Pipelines and GitHub CI, and many more work. It is really great and we can improve in a future as needed. We have ended a cycle :clap::clap::clap::clap::clap::clap:

[2019-09-01 21:05] #13 closed

[2019-09-01 21:12] sergiohgz commented on #46
I am with the refactor in progress. I have removed some unnecessary `.eslintrc` files which settings do not apply anymore. There are some rules we cannot avoid (like `@typescript-eslint/no-explicit-any`), but it is better to have the warning to remember we have to fix them in a future.

[2019-09-29 18:29] juanpicado opened #156 "feat: prevent secrets from leaking to source control"
**Is your feature request related to a problem? Please describe.**

Follow up of
https://github.com/verdaccio/ui/pull/139
https://github.com/verdaccio/verdaccio/pull/1373
https://github.com/verdaccio/verdaccio/pull/1408

**Describe the solution you'd like**

enable: **feat: prevent secrets from leaking to source control**

[2019-09-30 12:25] joshghent commented on #156
@juanpicado - I'll try to knock this out today!

[2019-09-30 21:24] Shriram-Balaji commented on #60
@juanpicado I'd like to take a dig at this issue.

[2019-09-30 21:24] juanpicado commented on #60
It's booked then :-)

[2019-09-30 21:58] Shriram-Balaji commented on #60
@juanpicado The `memory-fs` library we are using doesn't seem to have a `fs.access` method. Although it has `fs.stat`, node [docs](https://nodejs.org/api/fs.html#fs_fs_stat_path_options_callback) don't seem recommend it:

Also, the `memory-fs` library itself hasn't been updated in a while, so the chances of an upstream change seem to be minimal.

Do you have a suggestion on what should be done?

[2019-10-01 05:49] juanpicado commented on #60
Here you can find some inspiration https://github.com/verdaccio/local-storage/pull/174

![Screen Shot 2019-10-01 at 7 49 09 AM](https://user-images.githubusercontent.com/558752/65937387-04ac5500-e420-11e9-910f-ea79cc13f883.png)

[2019-10-01 18:00] Shriram-Balaji commented on #60
@juanpicado Thanks for the pointers. I have a PR up for review :)

[2019-10-03 02:39] cjsfj commented on #58
Are you looking for a UI? You can request a json object of the cached packages by visiting http://<your_verdaccio>/-/all

[2019-10-03 07:46] juanpicado commented on #58
There are two things to keep on mind here.

- UI is not ready for such amount of packages
- Performance optimizations are need it, that endpoint actually stream from the remote.

The root of the request is rather only display what is in the cache.

[2019-10-05 09:37] DanielRuf commented on #60
existsSync is not deprecated afaik.

https://nodejs.org/api/fs.html#fs_fs_existssync_path

[2019-10-05 09:38] DanielRuf commented on #60
Also it was deprecated since NodeJS 1.0.0
<img width="730" alt="Bildschirmfoto 2019-10-05 um 11 38 13" src="https://user-images.githubusercontent.com/827205/66253191-a6a3a880-e764-11e9-90db-48a47e167b10.png">

[2019-10-05 09:42] DanielRuf commented on #60
See https://nodejs.org/docs/latest-v4.x/api/fs.html#fs_fs_exists_path_callback ;-)

[2019-10-05 09:53] juanpicado commented on #60
FYI https://github.com/verdaccio/monorepo/pull/159

[2019-10-05 10:00] DanielRuf commented on #60
I already saw it and gave feedback there ;-)

<img width="746" alt="Bildschirmfoto 2019-10-05 um 11 59 47" src="https://user-images.githubusercontent.com/827205/66253380-abb62700-e767-11e9-829e-18e332fa174d.png">

[2019-10-05 12:23] #60 closed

[2019-10-19 08:18] juanpicado opened #213 "`require.requireActual` is deprecated"
**Is your feature request related to a problem? Please describe.**

[code]

Is deprecated

**Describe the solution you'd like**
Find a new API that solve this.

**Describe alternatives you've considered**

No alternative yet.

**Additional context**

<img width="377" alt="Screen Shot 2019-10-19 at 10 16 14 AM" src="https://user-images.githubusercontent.com/558752/67140299-8a6e3400-f259-11e9-98a7-8

[2019-10-19 11:33] izifortune commented on #95
Looking at it now

[2019-10-19 17:53] juanpicado commented on #95
hi @wkurniawan07 sorry the delay, I just saw your ticket. I will take care of this along the week.

[2019-10-19 23:05] abc516 commented on #213
Hi @juanpicado , I'd like to tackle this. any tips on how to proceed?

[2019-10-20 03:24] juanpicado commented on #213
@abc516  According the code at `jest` says

[code]
I think just replace nanes, that would be all.

[2019-11-10 17:42] Codelica opened #245 "Syntax highlighting in README.md"
**Describe the solution you'd like**
Would like to see code block syntax highlighting ala GitHub and GitLab:

[code]

[code]

Thanks for considering :)

[2019-11-10 17:48] anikethsaha commented on #245
on it 👍

[2019-11-11 22:00] DanielRuf commented on #213
Hey @abc516,

many thanks for taking care of that.
I guess we can close this issue then?

[2019-11-12 05:25] #213 closed

[2019-11-16 05:05] favoyang opened #250 "feat(aws-s3-storage): serve tarball files via CDN"
**Is your feature request related to a problem? Please describe.**

The intention is to improve the performance of tarball files distribution by leveraging S3 integrated CDN service, like Amazon CloudFront.

Prerequisites
- Tarball files need be granted anonymous read permission, so the CDN service can fetch tarball files directly from S3.
  - PR https://github.com/verdaccio/monorepo/pull/249: set

[2019-11-19 05:45] juanpicado commented on #250
It would be great if you elaborate a bit better your since for those are not familiar with AWS and specific features, provide examples to identify the areas you want to improve and about your PR seems to be incomplete, perhaps specify what's missing. As I commented https://github.com/verdaccio/verdaccio/pull/1580 any specific feature for AWS has to be implemented here.

[2019-11-19 17:41] favoyang commented on #250
@juanpicado updated issue description for intention, solution and implementation details.

I don't know what's the specific incomplete thing you addressed, only part of unit test is missing (see reason above).

Also replied https://github.com/verdaccio/verdaccio/pull/1580 for alternative.

[2019-11-21 22:02] sergiohgz opened #254 "Refactor CI"
**Describe the bug**
When external PRs triggers CircleCI run, the workflow fails trying to publish canary packages in our Verdaccio instance, because it tries to get the secret key for publishing. I want to migrate that part of the workflow to Github Actions and create a message in the PR with the canary version published.

[2019-11-23 07:50] favoyang commented on #254
+1 the bug breaks my PR.

[2019-11-23 09:36] sergiohgz commented on #254
I'm in that, but it not easy to migrate to an ellegant solution. Stay tuned :wink:

[2019-11-23 15:00] favoyang opened #272 "@verdaccio/eslint-config@8.4.1 and @verdaccio/babel-preset@8.4.1 do not exist"
**Describe the bug**
https://github.com/verdaccio/monorepo/commit/8d7ca5bb31fff96281a0896c72f9f1426fa8b728, the 8.4.1 release breaks plugins/aws-s3-storage, and perhaps other, due to `@verdaccio/eslint-config@8.4.1` and `@verdaccio/babel-preset@8.4.1` do not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkoust monorepo
2. Go to plugins/aws-s3-storage
2. `npm install`

[code]

[2019-11-23 15:27] sergiohgz commented on #272
Correct, due to the incident occurred yesterday to npmjs (you can see at the release notes), we cannot complete publish process. Versions 8.4.0 and 8.4.1 are affected. I'm going to publish 8.4.2 fixing the problem

[2019-11-23 15:45] sergiohgz commented on #272
Try again, 8.4.2 have been published satisfactory. If the problem still happens, please, reopen the issue. Thanks @favoyang

[2019-11-23 15:45] #272 closed

[2019-11-23 16:39] juanpicado opened #273 "Add @babel/plugin-syntax-top-level-await"
**Is your feature request related to a problem? Please describe.**

I'd love to have `@babel/plugin-syntax-top-level-await` to be used

https://babeljs.io/blog/2019/11/05/7.7.0

[code]

[2019-11-23 16:55] favoyang commented on #250
@juanpicado https://github.com/verdaccio/monorepo/pull/249 and https://github.com/verdaccio/verdaccio/pull/1580 are ready to review.

[2019-11-23 17:21] juanpicado opened #274 "Add support for optional-chaining and nullish-coalescing-operator"
**Is your feature request related to a problem? Please describe.**

optional-chaining and nullish-coalescing-operator do not come by default, we need include dependencies in `babel-preset`.

https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-optional-chaining
https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-nullish-coalescing-operator

[2019-11-23 17:38] juanpicado commented on #272
It works fine in UI

[2019-11-26 06:36] anikethsaha commented on #274
in `ui` alone or in others too?
is these two being used in the main repo too?

[2019-11-26 09:21] juanpicado commented on #274
Main repo until I finish the yarn migration, here feel free :)

[2019-11-26 09:22] anikethsaha commented on #274
Yeo....I will try to update it here by next week

[2019-11-27 12:51] anikethsaha commented on #39
I think Firebase's storage is GCP's storage.
It uses the GCP's storage bucket. So I guess it won't make much sense to make this plugin as those keys will be same as GCP's keys.

[2019-11-28 21:59] sergiohgz commented on #274
@anikethsaha let me try, there are several dependencies to update, including `@typescript-eslint`. I'm going to create a PR sooner :wink:

[2019-12-03 18:42] #274 closed

[2019-12-06 10:40] tetrohed opened #298 "seperate s3 subfolders (key prefix for different packages)"
**Is your feature request related to a problem?**
 Currently, the s3 plugin adds all packages (proxy or none proxy) flat out in the root of s3 bucket.
**Describe the solution you'd like**
Ideally, the storage: custom_folder for every package regex should also work for the s3.

[code]

this would cache the packages to s3/bucket/custom_folder

**Rationale**
 we want to have our private packages pers

[2019-12-20 10:00] tetrohed commented on #298
hey @juanpicado thanks for the update! if you give me a couple of pointers on my questions, I can grab this.

[2019-12-25 17:44] DanielRuf commented on #273
So we need a PR here?

[2019-12-25 18:05] juanpicado commented on #273
yes 👍

[2019-12-26 04:12] favoyang commented on #298
The s3 path is defined in [s3PackageManager.ts](https://github.com/verdaccio/monorepo/blob/master/plugins/aws-s3-storage/src/s3PackageManager.ts), but I wonder how to get the proxy information there (whether a package is local or proxy).

Logically only one storage active at a time.

[2019-12-26 07:10] juanpicado commented on #298
The storage plugin can access to the config app properties, thus the package access section. You can see the `local-storage` implementation and here is how is done.

![monorepo____projects__verdaccio_monorepo__-_____plugins_local-storage_src_local-database_ts__monorepo_](https://user-images.githubusercontent.com/558752/71463513-e94ead00-27b6-11ea-9bfe-e429af3f3752.png)

@favoyang

Storage Plugin s

[2019-12-26 12:32] favoyang commented on #298
I thought @tetrohed wants to know if a package is local or upstream cached, so to give different storage path prefix. i.e. store all private packages to `private/` and cached packages to `upstream/`. For his specific management purpose. To achieve this storage plugin has to know the source of a package,  if it is cached or not, right?

I also wonder the intention to clear cache.

[2019-12-26 15:29] tetrohed commented on #298
hey guys, a bit of information as to intent, maybe it was misleading to talk about clearing the cache. Our Purpose is actually is an easier of book keeping, mainly because the structure of config file is reflected on s3 as opposed to node_modules structure.

right, but s3 has precedence to local_storage?

@juanpicado also I think you are right about the source of package being irrelevant.

@favoya

[2019-12-26 15:37] tetrohed commented on #298
ah I had another issue, with where the call for packageManager was, but found it in

https://github.com/verdaccio/monorepo/blob/e269378a704559a3bd4a655cddb9d8b0e614d752/plugins/aws-s3-storage/src/index.ts#L176

Makes sense now, I ill take a crack at this after hollidays ;) not at my station currenlty

[2019-12-30 17:39] sergiohgz opened #309 "Upgrade dependencies from several packages"
There are some upgrades blocked due to our time. I want to share a table with the package, dependency to upgrade and, the current and target version.

| Package                  | Dependency              | Current | Target |
|--------------------------|-------------------------|---------|--------|
| @verdaccio/readme        | marked                  | 0.7.0   | 0.8.0  |
| verdaccio-aws-s3-storage

[2019-12-31 14:36] sergiohgz commented on #254
Right now, on master branch have been disable canary releases. I think I have time this week to complete.

[2020-01-05 21:17] sergiohgz commented on #273
I think we cannot achieve this already. Babel doesn't transform top level await, as said in package documentation: https://babeljs.io/docs/en/babel-plugin-syntax-top-level-await

[2020-01-07 05:12] DanielRuf commented on #273
Let's try this.

[2020-01-07 06:33] sergiohgz commented on #273
The problem is that the most number of projects in Verdaccio monorepo are not bundlelized using Webpack, are transpiled with Babel, so I think this could be applied to Verdaccio main project and ui directly, but not for the rest right now.

[2020-01-16 10:43] tetrohed commented on #298
hey @juanpicado all tests that I see in the plugin are skipped, is this expected?

https://github.com/verdaccio/monorepo/blob/21c47d3360699577961e35d6720cb126f7011036/plugins/aws-s3-storage/tests/s3PackageManager.test.ts#L18

[2020-01-16 10:44] juanpicado commented on #298
@tetrohed test were flaky ... still a lot of work to do there, that's the reason why are skipped. Original tests were running against AWS, which make them more E2E than unit test.

[2020-01-16 10:45] tetrohed commented on #298
ah ok I try to write some against mocks then

[2020-01-16 14:23] tetrohed commented on #298
@juanpicado another quick question, how do you guys test everything locally? I don't seem to find any orchestration (docker-compose or otherwise)

[2020-01-16 14:24] juanpicado commented on #298
My unique way to test is using Localstack https://github.com/verdaccio/docker-examples/tree/master/amazon-s3-docker-example/v4

[2020-01-16 14:31] favoyang commented on #298
I tested with https://min.io/ locally, but I'm not sure if that is suitable for the CI.

[2020-01-16 14:38] tetrohed commented on #298
for the ci I have written tests, I just wanted to test everything locally before PR.

[2020-01-16 14:50] favoyang commented on #298
See this then, https://github.com/verdaccio/monorepo/pull/289#issuecomment-567495724

[2020-01-16 14:51] juanpicado commented on #298
It would be great to have a minio example at docker repo, would be really useful for mentoring.  @favoyang 👏

[2020-01-16 14:57] tetrohed commented on #298
the part with minio is actually quiet clear. I cannot figure out where to place the plugin itself

[2020-01-16 19:06] juanpicado commented on #298
I will explain here how it works soon detailed

[2020-01-18 19:48] agar23 commented on #309
@sergiohgz need any help with this guy? happy to pick anything up 😄

[2020-01-18 19:51] juanpicado commented on #309
I would ignore AWS and Google Cloud Related until we make test run, otherwise we cannot so regression

[2020-01-22 13:50] nszilard opened #314 "(aws-s3-storage) Support for environment variables"
**Is your feature request related to a problem? Please describe.**
I'm using Verdaccio with the `verdaccio-aws-s3-storage` plugin in a dockerized setup (ECS Fargate). Since the `bucket`, `key-prefix` and `region` attributes don't support environment variables, I cannot deploy the same image in different environments.

**Describe the solution you'd like**
The solution could be simple as trying assu

[2020-01-22 14:07] juanpicado commented on #314
I like this, I had the same issue with the google plugin, it is doable.

[2020-01-22 14:12] nszilard commented on #314
I have started working on this, but not sure about the test as they are being skipped as far as I understood.

[2020-01-23 06:36] #298 closed

[2020-01-23 17:37] juanpicado commented on #314
We just enabled some, partly are disabled. Hopefully enough, I am not sure how to mock env variables but if you find the way would be cool update the new ones.

[2020-01-24 16:06] nszilard commented on #314
I gave a shot at writing some tests (fair warning: I'm not familiar with typescript at all 😂 ), though not sure if they are acceptable. My idea was to pull out the environment checking into a function, and then it could be tested as a "black box".

Please let me know your thoughts!

[2020-01-25 10:37] #314 closed

[2020-01-25 15:47] favoyang opened #317 "Inconsistent package list in cluster deployment"
**Describe the bug**

The bug demostrates that verdaccio with s3 backend is stateful, with package-list cached in memory, and caused inconsistent and racing issues in a clustrer env. The solution is attached, and discussion are welcome.

I've setup a minimal cluster verdaccio deployment, using two verdaccio instances, s3 store and nginx as reverse proxy. The s3 plugin is slightly modified, but not

[2020-01-25 16:42] juanpicado commented on #314
all good @nszilard

[2020-01-25 17:25] favoyang commented on #317
The AWS version of *google-cloud/datastore* is DynamoDB. But I don't like the idea, because the plugin is called *aws-s3*, not *aws*. For example, I'm maintaining a deployment on digital ocean's space, an aws-s3 compatible solution. Digital ocean platform doesn't have DynamoDB.

I will update solution B https://github.com/verdaccio/monorepo/pull/275 later. It's the simplest one to solve the scalab

[2020-01-29 16:45] favoyang commented on #250
@juanpicado the issue is re-implemented in https://github.com/verdaccio/monorepo/pull/249 https://github.com/verdaccio/monorepo/pull/320 https://github.com/verdaccio/verdaccio/pull/1688.

[2020-01-30 11:27] juanpicado commented on #250
Thanks 🙏 I will put it on my list and back to you with feedback

[2020-02-07 11:34] PhilomenaCallaghan opened #321 "aws-s3-storage Publish fails when optional accessKeyId & secretAccessKey are not provided"
**Describe the bug**
aws-s3-storage - Publish fails when optional accessKeyId & secretAccessKey are not provided. This does not happen with Verdaccio V3 and it's S3 storage plugin on our Cloud Set up.

Looking in the Verdaccio log the plugin is reported as installed however throws the errors below
 warn --- config file  - /etc/verdaccio/config.yaml
 warn --- Plugin successfully loaded: verdaccio-a

[2020-02-08 16:51] juanpicado commented on #321
Hi @PhilomenaCallaghan , thanks for the info, but could you improve format of the description ? It's a bit unreadable.

[2020-02-10 10:14] PhilomenaCallaghan commented on #321
Hey @juanpicado hope this is more readable!

Describe the bug
aws-s3-storage - Publish fails when optional accessKeyId & secretAccessKey are not provided. This does not happen with Verdaccio V3 and it's S3 storage plugin on our Cloud Set up.

Looking in the Verdaccio log the plugin is reported as installed however throws the errors below

warn --- Plugin successfully loaded: verdaccio-aws-s3-stora

[2020-02-10 10:31] PhilomenaCallaghan commented on #321
Hey @juanpicado hope this is more readable

**Describe the bug**
aws-s3-storage - Publish fails when optional accessKeyId & secretAccessKey are not provided. This does not happen with Verdaccio V3 and it's S3 storage plugin on our Cloud Set up.

Looking in the Verdaccio log the plugin is reported as installed however throws the errors below

warn --- Plugin successfully loaded: verdaccio-aws-s3-st

[2020-02-12 21:24] mikebridge commented on #75
What exactly needs to be enabled here?  I am seeing this error in the logs.  Do I really need to create a Cloud Datastore or FireStore database?  https://console.cloud.google.com/datastore/setup?project=my-project-id

[code]

[2020-02-12 22:30] juanpicado commented on #75
@mikebridge yes, this plugin assumes you have everything correctly set up. SDK provided by Google has limited capabilities.

[2020-02-12 22:57] mikebridge commented on #75
@juanpicado I set up the Native FireStore via the console and it seems to work, thanks.  It looks like it's just storing a secret there.  It might be worth mentioning in the documentation that that particular API is required too.

[2020-02-20 13:30] PhilomenaCallaghan commented on #321
@juanpicado can you give me an update on this issue, please?

[2020-02-20 15:45] juanpicado commented on #321
Not much from my side, sorry have  to many request, hopefully someone else can look into this or well, just wait a bit more I clean up my queue.

[2020-02-20 16:04] PhilomenaCallaghan commented on #321
Thanks for the update!

Know what you mean about too many request!

P.

On 20 Feb 2020, at 15:45, Juan Picado @jotadeveloper <notifications@github.com> wrote:

﻿

Not much from my side, sorry have to many request, hopefully someone else can look into this or well, just wait a bit more I clean up my queue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it o

[2020-02-27 20:56] SkeLLLa opened #334 "aws-s3-storage hangs verdaccio on load"
**Describe the bug**
When aws-s3-storage is installed verdaccio doesn't load and it's stuck after `Plugin successfully loaded: verdaccio-aws-s3-storage`

**To Reproduce**
Use docker image from examples
[code]
Run docker and provide aws access keys.

**Expected behavior**
All plugins including htpasswd, audit and other loaded, verdaccio is listening on port

**Docker || Kubernetes (please complete

[2020-02-28 16:56] juanpicado commented on #334
hi @SkeLLLa

Thanks for report this, I'm removing the bug label until someone else is able to reproduce it.

I think might be helpful yo add more info:
- git repo to reproduce the issue
- server logs, env info etc etc

[2020-02-28 18:50] SkeLLLa commented on #334
@juanpicado There are no logs, cause as soon as verdaccio tries to load this plugin and reports that it's loaded successfully it hangs.

[2020-02-28 19:47] juanpicado commented on #334
Then a repo would be great 👍

[2020-03-02 21:38] Phuurl opened #337 "Google Cloud plugin status"
The Google Cloud plugin has the following message on the Readme:

Is it known what further testing is required / how finished this plugin is?

Thanks

[2020-03-03 07:40] juanpicado commented on #337
Hi @Phuurl

That message means we need feedback. I created the plugin but actually I don't use it. There are few downloads every week but we have not much feedback

https://www.npmjs.com/package/verdaccio-google-cloud

I've heard people using it but that's pretty much all. There is no easy way to run tests in locally with a real google cloud environment as far as I know.

[2020-03-03 07:40] #337 closed

[2020-03-11 06:58] kichay commented on #334
I have a same bug with:
[code]
I can see this in trace logs:
[code]

[2020-03-11 08:20] juanpicado commented on #334
Error is not properly caught, but your error is clear

[2020-03-11 10:11] SkeLLLa commented on #334
@juanpicado I think that "Error is not properly caught" is the main reason of both bugs. It's possible that my case it may have very long timeout before failing.

[2020-03-25 07:00] gricey432 commented on #321
I've got what I think is the same error with a simpler reproduction.

[code]

[code]

Run with
[code]

Then
[code]

Gives
[code]

[2020-03-26 02:24] gricey432 commented on #321
Going from 4.0 to 4.5 has fixed my problem. Might fix it for you @PhilomenaCallaghan

[2020-04-14 03:05] ryhinchey commented on #46
I just started working through a bunch of eslint warnings.  I also get a bunch of warnings when running the `5.x` branch of Verdaccio Core.  Should a separate issue be created for lint warnings in Verdaccio Core or are those less important for 5.x?

[2020-04-14 06:00] juanpicado commented on #46
hi @ryhinchey ! glad to see your request. My strategy would  be, in this order:

1. Fix `eslint` warnings for `verdaccio/master`
2. Wait until I rebase `5.x` on top of `master`
3. Fix `eslint` warnings on `verdaccio/5.x`

I must rebase `5.x` quite often and `master` will be under development most likely the whole 2020.

I think we have also warnings on this repo, @sergiohgz could you confirm wheth

[2020-04-14 20:27] ryhinchey commented on #46
thanks @juanpicado !

[2020-04-20 14:17] rix0rrr opened #353 "Request: get rid of LevelDB"
**Is your feature request related to a problem? Please describe.**

Right now, the Verdaccio local storage plugin uses LevelDB to store tokens.

This is a rather heavyweight dependency; it requires compiling a native extension using node-gyp (which itself requires Python and a compiler).

It also means that using Verdaccio out of the box on a plain Windows machine is out of the question, and makes

[2020-04-20 14:33] juanpicado commented on #353
Verdaccio uses `node-bunyan` which also I think requires `node-gyp`. Somehow, Token feat was introduce as an experimental feature ( it is disabled by default) and of course that requires `node-gyp`. There was a lot of discussions back then and the main objective was get feedback, so, thanks. I'm completely open to change things but I have no interested to invest time on this because I don't have t

[2020-04-21 09:48] rix0rrr commented on #353
Yep, I ran into the bunyan dependency as well.

I did nasty nasty things to get rid of these dependencies, that are likely to blow up on me but haven't so far (by using npm-shrinkwrap and cutting the dependencies I didn't want from the shrinkwrap):

https://github.com/rix0rrr/serve-npm-tarballs/blob/master/shrink-snip.ts#L14
https://github.com/rix0rrr/serve-npm-tarballs/blob/master/serve-npm-tarba

[2020-04-21 09:53] juanpicado commented on #353
Thanks for share that, interesting project.

I recently did the first step to remove any sort of dependency (removing `node-bunyan`) on install (https://github.com/verdaccio/verdaccio/pull/1760) for the future Verdaccio 5. As I mentioned LevelDB is just an experiment, I don't know wether will be replaced or not, still soon, but the main idea is improve performance, easy scalability and keeping the

[2020-04-21 09:56] rix0rrr commented on #353
I have a design question though: another solution alluded to in the PR thread is that we could substitute a different storage "plugin".

That is fine, I can also write a different storage plugin that doesn't depend on LevelDB. It would be a less hacky solution.

I'm just not sure how in NPM in general we can control the dependency tree. As long as you depend, out-of-the-box, on `@verdaccio/local-s

[2020-04-21 09:57] rix0rrr commented on #353
Or I guess, to be somewhat backwards compatible, to turn `verdaccio` into a meta-package, where all it does is depend on `@verdaccio/core`, `@verdaccio/local-storage`, etc.

[2020-04-27 20:28] DanielRuf commented on #33
To clarify this, we do not sign but hash using crypt-DES.
Signed messages with hashing would be HMAC algorithms like HMAC-SHA256. But this is not recommended for passwords.

https://security.stackexchange.com/questions/3165/hmac-why-not-hmac-for-password-storage

Instead we should target bcrypt, scrypt (sodium) and so on.

So the option should be something like `hashing_algorithm`.

scrypt is in N

[2020-04-27 20:34] DanielRuf commented on #33
Additionally the SHA-3 winner (Keccak) could be an option too (if some need it) available as `sha3` and `keccak`.

But we should prefer bcrypt and scrypt. For both we can set the rounds / interations and so the `hashing_algorithm` should support further settings like the rounds.

See https://gchq.github.io/CyberChef/?op=Bcrypt and https://gchq.github.io/CyberChef/?op=Scrypt

[2020-04-27 20:37] DanielRuf commented on #33
Additionally the SHA-3 winner (Keccak) could be an option too (if some need it) available as `sha3` and `keccak`.

But we should prefer bcrypt and scrypt. For both we can set the rounds / interations and so the `hashing_algorithm` should support further settings like the rounds / iterations and other input variables.

See https://gchq.github.io/CyberChef/?op=Bcrypt and https://gchq.github.io/Cyber

[2020-04-28 05:08] juanpicado commented on #33
An example of plugin `bcrypt` using https://github.com/idangozlan/verdaccio-bitbucket

[2020-04-30 13:53] #32 closed

[2020-05-04 05:38] himanshumehta1114 opened #358 "Backup htpasswd on s3"
**Is your feature request related to a problem?**
I am using `verdaccio-aws-s3-storage` plugin to store my packages. So I see all my packages and `verdaccio-db.json` file on s3 but the `htpasswd` is present on my local. So when I attach my s3 bucket to other instance as my rescue plan if the instance goes down. Then user will have to create the account again. Which shouldn't be the case. So do we

[2020-05-05 04:20] juanpicado commented on #358
This plugin does not scale well due the `.verdaccio-db.json`. It is by design. The `verdaccio-db.json` contains a secret key which is used as salt for sign the passwords, if your other instance has `verdaccio-db.json` with a different token, then users need to be created again even if the `htpasswd` is the same.  Just keep the secret key and `htpasswd` on sync

[2020-05-20 10:54] PhilomenaCallaghan commented on #321
@gricey432 thanks for the tip; been busy with some other stuff I'll give that a go and get back to you!

[2020-05-22 15:13] Varkal commented on #321
Same issue here with verdaccio 4.6.2

[2020-05-29 09:49] wzrdtales commented on #44
Just got blocked by npm completely on a CI b/c of the stupid audit API of them... . Having this use the current db and downloading it, or at least caching the result for some time is something that needs to be added. Will see if I can put some time into this...

[2020-06-07 23:57] benjamine commented on #317
+1, got bit by this too (using ECS+S3, will probably scale to 1 instance in the meantime).
I think a solution that can solve this without introducing more dependencies and no latency cost is:
- have each instance poll for the modified date of a file (maybe `verdaccio-s3-db.json`)
- do this in background wit a certain interval, and flush the cache when they find a new value

[2020-06-11 13:06] lneveu commented on #317
I'm facing the same issues described by @favoyang, when trying to deploy multiple Verdaccio instances with the aws-s3-storage plugin. I dived into this thread and has a look at your pull request #275 , but I'm worried about some changes added there.

Currently, only published packages on the proxy are saved in the database json file. With the changes in your pull request, every packages on the sto

[2020-06-11 18:33] favoyang commented on #317
You're right. Because there's no way to filter out uplinks from the directory name.

See https://stackoverflow.com/questions/25061960/s3-performance-for-list-by-prefix-with-millions-of-objects-in-a-single-bucket

Prefix search itself seems fast enough, though you may still have multiple network round-trips because data can be returned chunk by chunk. But I don't really worry about it, because it's

[2020-06-17 21:20] pusherman opened #366 "@types - AuthCallback: Incorrect definition"
https://github.com/verdaccio/monorepo/blob/9.x/core/types/index.d.ts defines

[code]

However, the server seems to be expecting an object when there is an error for the callback, not a string.

When I try to pass an `error: string` the server throws an error, it seems to be expecting an object.  I have to pass `null` to prevent the server from throwing an error.

Example Code

[code]

Output from

[2020-06-17 22:10] pusherman commented on #358
I also needed a persistent way to store users for running Verdaccio in AWS EKS Fargate (since EFS volumes are not supported at the moment).  I decided to write an auth plugin for storing users in a DynamoDB table.  Disclaimer: It is very new :)

https://www.npmjs.com/package/verdaccio-dynamodb

[2020-07-01 00:57] toolsofraj opened #369 "npm ERR! code ENOAUDIT"
I'm new to verdaccio, and this could be user-error.
When running "npm audit" in my dev-project, it works fine if the registry is set to "https://registry.npmjs.org"
I get the following error when running "npm audit" after running "npm set registry https://<local-registry>" -
**npm ERR! code ENOAUDIT
npm ERR! audit Your configured registry (<private-verdaccio-registry>) does not support audit reque

[2020-07-01 12:37] star-scream-7 commented on #358
Hi @juanpicado

I'm using verdaccio-s3-storage for accessing package and I have htpasswd file with an user in s3 bucket.

I'm trying to configure htpasswd file from s3 bucket like below in config.yaml file:

store:
  aws-s3-storage:
    bucket: bucket-name
    #keyPrefix: some-prefix # optional, has the effect of nesting all files in >
    region: region # optional, will use aws s3's default behav

[2020-07-01 17:49] juanpicado commented on #358
@pusherman awesome I'd add it to the website for bigger visibility.

@himanshumehta1114 I'd rather ask in the chat or create a StackOverflow question, you reach a bigger audience. `htpasswd` and this plugin are two different things. You would need to share more info to get a more accurate answer.

I'll close this one, seems I already answered and I got no response.

[2020-07-01 17:49] #358 closed

[2020-07-01 17:52] juanpicado commented on #369
hi @toolsofraj welcome.

That might be the npmjs is down and verdaccio only proxy the request, we don't do anything with the responses.

I'll close it, please if persist feel free to comment and please, add more relevant information (you can read the PR guidelines https://raw.githubusercontent.com/verdaccio/monorepo/9.x/.github/ISSUE_TEMPLATE/bug_report.md).

[2020-07-01 17:52] #369 closed

[2020-07-01 17:55] himanshumehta1114 commented on #358
@juanpicado Thanks for the reply.
I get it. Packages and Auth are two separate things. So I'll have to manage them separately.

[2020-07-01 18:36] juanpicado commented on #358
@himanshumehta1114 oppss I tagged the wrong person, my answer for you was above https://github.com/verdaccio/monorepo/issues/358#issuecomment-623849573

:) sorry the confusion.

[2020-07-01 23:56] toolsofraj commented on #369
---
name: npm ERR! code ENOAUDIT
about:monorepo
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
When running "npm audit" in my dev-project, it works fine if the registry is set to "https://registry.npmjs.org"
I get the following error when running "npm audit" after running "npm set registry PRIVATE-VERDACCIO-REGISTRY" -
**npm ERR! code ENOAUDIT
npm ERR! audit Your configured registr

[2020-07-02 00:16] toolsofraj opened #370 "Error with "npm audit""
**Describe the bug**

When running "npm audit" in my dev-project, it works fine if the registry is set to "https://registry.npmjs.org"
But I get the following error when running "npm audit" after running "npm set registry PRIVATE-VERDACCIO-REGISTRY" -
**npm ERR! code ENOAUDIT
npm ERR! audit Your configured registry (PRIVATE-VERDACCIO-REGISTRY) does not support audit requests, or the audit endpoint

[2020-07-04 12:37] juanpicado commented on #366
Hi @pusherman would you willing to PR a solution?

[2020-07-08 10:43] IhToN opened #372 "@verdaccio/active-directory: Couldn"
**Describe the bug**
Verdaccio is not able to load @verdaccio/active-directory plugin when using the config setup from the documentation.

**To Reproduce**
Install @verdaccio/active-directory
Set the proper config file
Retrieve error: _verdaccio-activedirectory plugin not found. try "npm install verdaccio-activedirectory"_

**Expected behavior**
Get the plugin to load

If we install the _verdaccio

[2020-07-08 10:51] sergiohgz commented on #372
Sorry, at the moment, Verdaccio is not able to load plugins whose name is `@verdaccio/plugin-name`. This is a feature we are planning

[2020-07-08 11:02] IhToN commented on #372
Thanks for the answer. We will stay with the old package for now =)

[2020-08-28 17:53] juanpicado commented on #58
duplicated

[2020-08-28 17:53] #58 closed

[2020-08-28 18:03] juanpicado commented on #273
This comes out of the box with Typescript

[2020-08-28 18:03] #273 closed

[2020-10-22 23:12] dnafication commented on #46
About 75 of the warnings are due to `max-len` which is simple to get rid of.

[code]

where should the PR go? `master` or `5.x`

[2020-10-23 05:40] juanpicado commented on #46
@dnafication  yes, please,  same settings as `5.x`, this code eventually would be part of `5.x`.

[2020-10-23 18:55] juanpicado commented on #46
Closing this, moved tothe core repo .

[2020-10-23 18:55] #46 closed

[2020-10-23 18:56] juanpicado opened #386 "Move all plugin packages to verdaccio core"
I would like to move all plugin packages to the core repository in Verdaccio branch `5.x`.

https://github.com/verdaccio/verdaccio/tree/5.x

- [x] verdaccio-memory https://github.com/verdaccio/verdaccio/pull/1974
- [x] verdaccio-auth-memory https://github.com/verdaccio/verdaccio/pull/1975
- [x] verdaccio-audit https://github.com/verdaccio/verdaccio/pull/1976
- [x] verdaccio-aws-s3-storage https://

[2020-10-24 13:58] #38 closed

[2020-10-24 13:58] #39 closed

[2020-10-24 13:59] juanpicado commented on #254
Closing this, packages are moving away anyway.

[2020-10-24 13:59] #254 closed

[2020-10-24 14:01] juanpicado commented on #386
All packages were moved. Next step is remove them from master, write a note and allow a new branch 9.x for bug fixes and required patches until verdaccio 4 is not longer supported.

[2020-10-24 14:02] juanpicado opened #387 "Reference new changes to verdaccio 5.x"
All plugins and core packages were moved. Next step is remove them from master, write a note and allow a new branch 9.x for bug fixes and required patches until verdaccio 4 is not longer supported.

__Originally posted by @juanpicado in https://github.com/verdaccio/monorepo/issues/386#issuecomment-715919344__

[2020-10-24 14:02] #386 closed

[2020-10-24 16:47] #387 closed

[2020-10-24 16:53] juanpicado commented on #309
Due #387

[2020-10-24 16:53] #309 closed

[2020-10-30 16:03] favoyang commented on #317
@benjamine https://github.com/verdaccio/monorepo/pull/275#issuecomment-719120927

Thanks for taking care of it. If you follow the related issue #317, you will notice that PR #275 implemented solution B, using the s3 list action to construct the package list.

But in https://github.com/verdaccio/monorepo/issues/317#issuecomment-642635858, @lneveu found an issue of the solution that it can not disti

[2020-11-18 16:12] benjamine commented on #317
@favoyang thanks for all the context,
so I see s3 has a native solution for pessimistic locking: https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lock.html
note this already supports setting a lock timeout.

imo an optimistic lock would be a lot better for this use case (try to write, if version has changed fail and retry), but it doesn't seem like that is supported out-of-the-box, neither I

[2021-03-24 19:22] juanpicado commented on #250
@favoyang you might be interested on this
https://github.com/verdaccio/verdaccio/issues/2129
https://github.com/verdaccio/verdaccio/issues/1523#issuecomment-806064847

https://github.com/verdaccio/verdaccio/pull/2122

[2021-03-25 08:06] favoyang commented on #250
@juanpicado,

I have checked these threads. It seems people get confused for the `url_prefix` behavior - assuming setting it to `/foo` will turn entire verdaccio services (API endpoints, UI endpoints, static files) served under `/foo`. Seems url_prefix won't affect static files serving which always served under `/-/static/`? So people start discussing adding an additional rule for handling the sta

[2021-03-25 08:35] juanpicado commented on #250
Currently does not affect static files as you says, but it will. That documentation will be updated once the PR is being merged and released (we don't have versioning on docs anymore), those additional ngix rules won't be need it anymore and should be removed (it will be on the changelog notes so people is aware). The `url_prefix` will allow only subdirectory, since the `VERDACCIO_PUBLIC_URL` can

[2021-03-25 09:23] favoyang commented on #250
I guess we may talk about the same thing.
- VERDACCIO_PUBLIC_URL is the host with a format of https://domain.tld (i.e. https://mywebsite.com).
- url_prefix is still useful (i.e. `/npm`).
- VERDACCIO_PUBLIC_URL + url_prefix will get the final URL (i.e. https://mywebsite.com/npm) can be used as the base URL for referring assets in HTML or in notification emails (if verdaccio has any email features n

[2021-03-25 12:27] juanpicado commented on #250
Not sure to be honest, maybe @verdaccio/collaborators have some extra thoughts on this.

[2021-04-16 14:16] webengineer opened #404 "Configure exponential backoff on s3 throttling"
Hi

I am receiving following error

[code]
most probably caused by [S3 throttling](https://aws.amazon.com/premiumsupport/knowledge-center/s3-resolve-503-slowdown-throttling/).

I'd like to have configurable exponential backoff to be able to work-around errors like this.

--
Max

[2021-04-17 09:30] favoyang commented on #404
Which command/endpoint raises this error?

And how many packages in the repository?

[2021-04-18 10:44] webengineer commented on #404
It's a result of GET request
[code]
produced by `npm install` command.

Currently there are 5942 packages in the repository (21,016 s3 objects). Only 7 of them were published locally. Remaining are proxied.

[2021-04-18 15:27] favoyang commented on #404
If you're using AWS s3 (not another vendor), it has a [high throttling](https://aws.amazon.com/premiumsupport/knowledge-center/s3-request-limit-avoid-throttling/) per prefix in an S3 bucket. It is usually unlikely to happen when hitting the individual endpoints, except for the `/-/all` or `search` endpoints which will go through all package metafiles.

You may want to check if it happens only once

[2021-04-19 09:53] webengineer commented on #404
Maybe half of errors are produced by requests for the same package. And remainder are from requests to other packages. The bucket isn't accessed by other services.

I can see that errors were happened less frequently during the last week (around 50 errors), then the previous week (around 2600 errors). I am using `keyPrefix: verdaccio`. According to https://stackoverflow.com/a/62145533, initially i

[2021-04-19 17:43] webengineer commented on #404
By querying s3 access logs I can see that only PUT requests are throttled (during last hours, when logging was enabled). I believe it's because every package metadata request is making a PUT operation. E.g. a package @types/node was requested from Verdaccio 15 times per minute, from which one request resulted in status 500 with the SlowDown message. In s3 access logs during that time there were 13

[2021-04-19 18:21] webengineer commented on #404
Maybe package.json is overwritten on each request because of malfunctioning ETag comparison? Because I am using KMS bucket encryption and thus [ETag is not an MD5 digest](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html) of an object data.

[2021-04-25 12:57] favoyang commented on #317
I closed https://github.com/verdaccio/monorepo/pull/275. Anyone who has more energy can propose an implementation of solution A using a locking mechanism.

[2021-05-04 04:00] favoyang commented on #250
Closed by https://github.com/verdaccio/monorepo/pull/249 and https://github.com/verdaccio/verdaccio/pull/1688

[2021-05-04 04:00] #250 closed

[2021-05-04 06:16] #156 closed

[2021-05-20 09:44] fiesh opened #410 "BadRequestError from verdaccio-memory"
**Describe the bug**
Verdaccio crashes (or rather `verdaccio-memory` I suppose)

**To Reproduce**
Launch `/usr/bin/verdaccio --config /etc/verdaccio/config.yaml` and create a lot of simultaneous requests (this is done by our CI pipeline launching multiple jobs simultaneously)

**Expected behavior**
No crash

**Configuration File (cat ~/.config/verdaccio/config.yaml)**
[code]
I tried playing around

[2021-07-05 06:27] nirwanrajnp opened #411 "Verdaccio aws-s3-plugin bucket error"
**Describe the bug**
Couple of days back, I tried using verdaccio aws-s3-plugin. I attached an IAM role to the ec2 instance and added the config for s3 bucket. Unfortunately, when I tried to run the verdaccio program. I got an error saying "the specified key does not exist" and barely changed anything in my config.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'verdaccio's config.yam

[2021-07-05 06:29] juanpicado commented on #411
please format :)

[2021-07-05 06:38] nirwanrajnp opened #412 "New Feature for aws-s3-plugin"
**Is your feature request related to a problem? Please describe.**
Right now, due to some limitation if you are using aws-s3-storage plugin you can't publish a package greater than 100mb.
I have package that is about 250mb and I always end up getting socket hang up when I use the s3-plugin. When I was not using the plugin, I was able to publish this particular package by changing max-body-size in

[2021-07-06 07:40] sosoba opened #413 "types - forced namespace"
The `types` documentation proposes to import definitions from scoped package  `@verdaccio/types` which are other than convention.

[code]
I understand that this is due to the desire to avoid publication by DefinitelyTyped.

Since `npm 6` there is another solution - package aliasing. Simply:
`npm i -D @types/verdaccio@npm:@verdaccio/types@latest`
which download `@verdaccio/types` and install it as

[2021-07-06 08:41] juanpicado commented on #413
hi @sosoba

The code on this repo is basically deprecated. Now all lives here in a big monorepo

https://github.com/verdaccio/verdaccio/tree/master/packages/types

If you have a new proposal feel free to drop it, check the current status, and let me know what we can improve.

[2021-07-06 20:07] juanpicado commented on #411
@nirwanrajnp

The latest code lives on this repo, please, verify also does not works.

https://github.com/verdaccio/verdaccio/tree/master/packages/plugins/aws-storage this repository

This repo is frezee, any bug on the library (version, repository) won't be fixed here unless you are willing to contribute.

[2021-07-06 20:10] juanpicado commented on #412
Please create a discussion here https://github.com/verdaccio/monorepo/issues/412 (IDEA) to open a discussion

[2021-07-06 20:10] #412 closed

[2021-09-21 11:28] viceice opened #417 "audit-plugin: `node-fetch` should be updated"
**Describe the bug**
`node-fetch` is at `v2.6.0` and should be updated to `v2.6.1`

https://github.com/verdaccio/monorepo/blob/01a4142dd1ee6bd2b45aef3f323b3181784336bb/plugins/audit/package.json#L34
https://github.com/advisories/GHSA-w7rc-rwvf-8q5r

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cle

[2021-09-21 11:31] juanpicado commented on #417
Thanks @viceice for the advice , I'll patch it today. I should have a bot 😊 enabled, or had it ... need to double check why is not enabled.

[2021-09-21 11:32] viceice commented on #417
At lease you should enable dependabot notifications.  Also [renovate](https://github.com/renovatebot/renovate) is a pretty good bot 😉

[2021-09-21 17:44] renovate[bot] opened #422 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/verdaccio/monorepo).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

These depen

[2021-09-21 17:46] juanpicado commented on #417
https://github.com/verdaccio/monorepo/pull/420

[2021-09-21 17:46] #417 closed

[2021-12-06 23:15] #411 closed

[2022-01-04 13:12] benjamine opened #530 "store packages uncompressed in s3 (support a private unpkg)"
I'd like to download files inside a package, similarly to have unpkg.com does for the public npm registry.
this would be trivial to implement if verdaccio had an option to store package contents uncompress in s3 (besides the `.tgz` file),

**Describe the solution you'd like**
have a config option to ask verdaccio to also store package contents in s3 uncompressed in a subfolder. ideally only for sp

[2022-01-12 20:21] renovate[bot] opened #533 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting String near
    }
  ]`

[2022-01-18 13:44] #533 closed

[2022-06-14 19:25] #45 closed

[2022-06-22 19:38] #413 closed

[2022-10-10 16:58] arnikasky opened #628 "Need "npm search" in google-cloud plugin"
**Is your feature request related to a problem? Please describe.**
We use npm search for internal tool and npm search is not implemented for google-cloud storage plugin.

**Describe the solution you'd like**
I need implemented "npm search" function, as in other storage plugins.

**Describe alternatives you've considered**
There are no alternatives. Our tool won't work without "npm search".

[2022-11-03 15:33] cesco69 opened #633 "Syntax highlighting in readme"
**Is your feature request related to a problem? Please describe.**
I want syntax highlighting in readme eg.:
[code]

instead of :

[code]

**Describe the solution you'd like**
verdaccio use marked https://github.com/verdaccio/monorepo/blob/9.x/core/readme/src/index.ts#L15 for parsing the markdown code, and marked has syntax highlighting options https://marked.js.org/using_advanced#highlight

[2022-11-08 15:08] juanpicado commented on #633
Would you like to PR? I'll be happy to review it.

[2022-11-10 08:06] cesco69 commented on #633
Hi @juanpicado , sorry, I'cant, but it seem really simple to implement, eg.:

[code]

[2022-11-19 09:49] juanpicado commented on #633
@cesco69 https://www.npmjs.com/package/pygmentize-bundled is 8 years old and deprecated, do you know another alternative ?

[2022-11-19 10:46] juanpicado commented on #633
:) ok I think got it
<img width="1251" alt="Screenshot 2022-11-19 at 11 45 50" src="https://user-images.githubusercontent.com/558752/202846870-340af3ec-688f-4efb-8750-f485f29bb7a0.png">

[2022-11-19 17:46] juanpicado commented on #633
closed by https://github.com/verdaccio/verdaccio/pull/3505

[2022-11-19 17:46] #633 closed